# Dependency directories
node_modules/

# dotenv
.env

# VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Idea Webstorm
.idea/